name: Analisis de Action Checkout

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del codigo
        uses: actions/checkout@v4

      - name: Verificar archivos
        run: ls -R
